<ion-header>
	<ion-navbar> <!-- isi navbar:title,tombol navigasi -->
		<ion-title> <!-- ini title dari page -->
			List User
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding> <!-- ini kontent dari halaman -->
	<ion-list>
		<ion-item *ngFor="let user of dataUser" 
			 (click)="tampilProfil(user)">
			{{user.username}}
		</ion-item>
	</ion-list>

</ion-content>