<ion-header>
	<ion-navbar> <!-- isi navbar:title,tombol navigasi -->
		<ion-title> <!-- ini title dari page -->
			About
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding> <!-- ini kontent dari halaman -->
	Ini Aplikasi pertama yang dibuat dengan ionic2
</ion-content>