<ion-header>
  <ion-navbar>
    <ion-title>
      Data User
    </ion-title>
    <ion-buttons start>
    	<button (click)="bacaData()">Refresh</button>
    </ion-buttons>
    <ion-buttons end>
    	<button (click)="tambahData()">Add</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  	<ion-item-sliding *ngFor="let user of data">
  		<ion-item (click)="update(user)">
  			{{user.firstname}} {{user.lastname}}
  		</ion-item>
  		<ion-item-options>
  			<button danger (click)="removeItem(user)">
  				<ion-icon name="trash"></ion-icon> Delete
  			</button>
  		</ion-item-options>
  	</ion-item-sliding>
  </ion-list>
</ion-content>
