<!--
  Generated template for the AddUserPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>AddUser</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-input type="text" placeholder="Firstname" 
				[(ngModel)]="user.firstname"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input type="text" placeholder="Lastname" 
				[(ngModel)]="user.lastname"></ion-input>
		</ion-item>
		<ion-item>
			<button (click)="simpan()">Save</button>
		</ion-item>
	</ion-list>
</ion-content>
