<ion-header>
	<ion-navbar> <!-- isi navbar:title,tombol navigasi -->
		<ion-title> <!-- ini title dari page -->
			About
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding> <!-- ini kontent dari halaman -->
	<ion-card>
		<ion-list>
			<ion-list-header primary>
    			Profil User
  			</ion-list-header>
			<ion-item># {{user.id}}</ion-item>
			<ion-item>
				<ion-icon name="person"></ion-icon>
				{{user.username}}</ion-item>
			<ion-item>{{user.alamat}}</ion-item>
		</ion-list>
	</ion-card>
</ion-content>