<ion-header>
  <ion-navbar>
    <ion-title>profil</ion-title>
    <button (click)="closeModal()">close</button>
  </ion-navbar>
</ion-header>
<ion-content padding>
Nama : {{user.name}}

</ion-content>
