<!--
  Generated template for the UserwsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>userws</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item *ngFor="let user of data_user" 
				(click)="detail(user)">
			{{user.name}}
		</ion-item>
	</ion-list>
</ion-content>
