<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
	Demo akses data dari database dan dari webservice
	<button block round (click)="pindahKeHome()">
		User DB
	</button>
	<button block round (click)="pindahKeUserws()">
		User WS
	</button>
</ion-content>
