<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<!-- mengakses variable dari controller -->
  <h3 primary>Welcome {{nama}}</h3>
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <!-- <button (click)="pindahHal(menu[0])">
  Ke Hal {{menu[0].tulisan}}
  </button>
  <button (click)="pindahHal(menu[1])">
  Ke Hal {{menu[1].tulisan}}</button> -->

 <button *ngFor="let m of menu" (click)="pindahHal(m)">
 	Ke Hal {{m.tulisan}}
 </button>

</ion-content>
